extends index
block containerBody
	section(id="profSection")
		article(id="profInformation")
			table(class="profTable")
				if type == 2 
					tr
						td(class="profTd")
							img(src="#{data2[0].imagen}" id="profImage" class="img-circle")
				tr
					td(class="profTd")
						h3 Nombre:
					td(class="profTd")
						h4 #{data1[0].nombre} #{data1[0].apellido1} #{data1[0].apellido2}
				tr
					td(class="profTd")
						h3 Correo:
					td(class="profTd")
						h4 #{data1[0].correo}
				tr
					td(class="profTd")
						h3 Teléfono:
					td(class="profTd")
						h4 #{data1[0].telefono}
				tr
					td(class="profTd")
						h3 Usuario:
					td(class="profTd")
						h4 #{data1[0].usuario}
				if type == 2
					tr
						td(class="profTd")
							h3 Puesto:
						td(class="profTd")
							h4 #{data2[0].puesto}
					//if data2[0].descripcion != ""
					tr
						td(class="profTd")
							h3 Descripción:
						td(class="profTd")
							h4 #{data2[0].descripcion}
				if type == 3
					tr
						td(class="profTd")
							h3 Provincia:
						td(class="profTd")
							h4 #{data2[0].provincia}
					tr
						td(class="profTd")
							h3 Cantón:
						td(class="profTd")
							h4 #{data2[0].canton}
					tr
						td(class="profTd")
							h3 Distrito:
						td(class="profTd")
							h4 #{data2[0].distrito}
					tr 
						td(class="profTd")
							h3 Dirección:
						td(class="profTd")
							h4 #{data2[0].direccion}
				tr
					td(colspan="2" class="profTd")
						button(class="btn btn-primary" onclick="modProfile()" role="button")
							span(class="glyphicon glyphicon-pencil")
							| &nbsp;&nbsp;Editar